.weather{
    background-color: #555375;
    width: 70%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.weather .weather--city{
    font-size: 4rem;
    font-weight: 300;
}

.weather .weather--temp{
    font-size: 8rem;
    font-weight: 400;
}

.weather .weather--icon{
    width: 200px;
}

.weather .weather--description{
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 300;
}

.weather .weather--date{
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 300;
}

.weather .detailOthers{
    width: 80%;
    font-size: 2.5rem;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.weather .detailOthers p{
    width: 50%;
    margin: 10px 0;
}

@media screen and (max-width: 992px){
    .weather{
        width: 80%;
        padding: 10px;
    }

    .weather .weather--city{
        font-size: 4rem;
    }

    .weather .weather--description{
        font-size: 3rem;
    }

    .weather .weather--date{
        font-size: 3rem;
    }

    .weather .detailOthers{
        width: 80%;
    }

    .weather .detailOthers p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    .weather{
        width: 80%;
        padding: 10px;
    }

    .weather .weather--date{
        font-size: 3rem;
    }

    .weather .detailOthers{
        width: 80%;
    }

    .weather .detailOthers p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px){
    .weather{
        width: 90%;
        padding: 10px;
    }

    .weather .weather--city{
        font-size: 2.5rem;
    }

    .weather .weather--temp{
        font-size: 3rem;
    }

    .weather .weather--icon{
        width: 70px;
    }

    .weather .weather--date{
        font-size: 2rem;
    }

    .weather .weather--description{
        font-size: 2rem;
    }

    .weather .detailOthers{
        width: 100%;
    }

    .weather .detailOthers p{
        font-size: 1.5rem;
    }
}





/* @media screen and (max-width: 1200px){
    .weather .detailOthers{
        width: 80%;
    }
} */