.search-form{
    width: 70%;
    margin: 50px auto;
}

.search-form .search-form--search{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 0 10px;
    font-size: 18px;
    outline-color: red;
    outline-width: 2px;
}

@media (max-width: 992px){
    .search-form{
        width: 80%;
    }
}

@media (max-width: 768px){
    .search-form{
        width: 80%;
    }
}

@media (max-width: 576px){
    .search-form{
        width: 90%;
    }
}